body{
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#list-container{
  margin-top: 20px;
  flex-basis: 600px;
  max-width: 600px;
}


.completed{
  text-decoration: line-through;
  color: #a5a5a5;
}



.complete-button,
.remove-button{
  padding: 0 5px;
  float: right;
  font-size: 14px;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}
.complete-button{color: #3c763d;border:1px solid #3c763d;}
.remove-button{color: #a94442;border:1px solid #a94442;margin-left: 10px;}
